@using QuiteHouse_board.Model.Context;
@{
    Posts mp = ViewBag.Thread.MainPost;
    ViewData["Title"] = mp.Message;
}

@*@Html.ActionLink("На главную", "Index", "Home")*@

<div class="threadWrap">
    <div class="message border-left" style="padding-left: 5px;">
        <h6>
            <b>№ @mp.Id</b>
            <i>@mp.Author</i>
            <span>@mp.Time</span>
        </h6>
        @if (mp.Image != null)
        {
            <br /><img src="@mp.Image" width="200" /><br />
        }
        <p>@mp.Message</p>
    </div>


    @foreach (Posts p in ViewBag.Thread.Posts)
    {
        <div style="margin-left: 30px; padding-left: 5px;" class="message border-left">
            <h6>
                <b>№ @p.Id</b>
                <i>@p.Author</i>
                <span>@mp.Time</span>
            </h6>
            @if (p.Image != null)
            {
                <br /><img src="@mp.Image" width="200" /><br />
            }
            <p>@p.Message</p>
        </div>
    }


<form asp-action="ReplyToThread" asp-controller="Thread" method="post" class="replyForm">
    <input type="hidden" name="threadId" value="@ViewBag.Thread.Id" />
    <textarea id="message" name="message" rows="3" required></textarea>
    <input type="submit" value="Ответить в тред" />
</form>
</div>    